<div id="footer">
    <div class="pull-right">
     Developed by Andrés Valiño
    </div>
    <div class="">
      <%= Settings.app_name ||= 'Andrés Valiño' %> &copy; <%= Time.now.year.to_s %> 
    </div>
</div>
